<%p%>Nobody can have a happy life unless he is happy inside<%p%>

<div>
 <%= image_tag("https://files.slack.com/files-pri/T7EKH3AJD-F0272GSG4AV/1625072946871.jpg", {:style => "width:400px;"}) %>
</div>
