<div class= "style-do">
  <div class= "style-do">
    <%= link_to "Zaryab Nawab Sab",    test_index_path %>
  </div>
  <div class= "style-do">
  <%= link_to "Happily Married",   happily_married_test_index_path %>
  </div>
  <div class= "style-do">
  <%= link_to "What is this?",    whats_this_test_index_path %>
  </div>
</div>
